/*.jumbotron.text-center.background{
	background: url("../public/images/background3.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	margin-top: 20px;
}*/